html {
    scroll-behavior: smooth;
}

@media (min-width: 2000px) {
  .app-scale {
      transform: scale(1.3);
      transform-origin: top center;
      width: 76.95%;
      margin-left: auto;
      margin-right: auto; 
  }
}


.background-component {
    position: relative;
  }
  
  .background-component::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(21, 26, 84, 0) 50%, #151a54);
    z-index: 1;
  }

  
  